* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: cornflowerblue;
}
header {
	background-color: rgb(37, 37, 78);
	color: rgb(243, 213, 130);
	padding: 2rem;
	font-size: 2rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 600;
	text-align: center;
}

.form-wrapper {
	border-top: 2px solid black;
	background-color: cornflowerblue;
	padding: 2rem;
	text-align: center;
}
#searchForm {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
}

#searchBar {
	padding: 5px;
	border: 1px solid cornflowerblue;
	border-radius: 4px;
	font-size: 1.4rem;
}
#btnSearch {
	background-color: black;
	color: rgb(243, 213, 130);
	padding: 0.5rem 0.75rem;
	border: 1px solid black;
	border-radius: 4px;
	font-size: 1rem;
	cursor: pointer;
}

.card {
	display: none;
	background-color: rgb(37, 37, 78);
	color: rgb(243, 213, 130);
	width: fit-content;
	padding: 2rem 1.5rem;
	margin: 1rem auto;
	border-radius: 4px;
}
.card > * {
	margin-bottom: 0.5rem;
}
.cityName {
	font-size: 2rem;
	font-weight: bold;
}
.temp {
	font-size: 2.5rem;
}
.description {
	font-size: 1.2rem;
}
.humidity {
	margin-top: 1rem;
}

footer {
	background-color: rgb(37, 37, 78);
	color: aliceblue;
	padding: 2rem;
	font-size: 1.3rem;
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 0;
}
footer a {
	text-decoration: none;

	color: rgb(243, 213, 130);
}
